/* ExpenseList.css */
.expense-table-container {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    background-color: var(--background-color);
}

.expense-table {
    width: 100%;
    border-collapse: collapse;
    font-size: var(--font-size-normal);
}

.expense-table th,
.expense-table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.expense-table th {
    background-color: var(--header-bg-color);
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.expense-table tr:hover {
    background-color: var(--hover-bg-color);
}

.expense-table-title {
    margin-bottom: 10px;
    font-size: var(--font-size-large);
    color: var(--primary-color);
    text-align: left;
}

.error-hint {
    color: var(--alert-color);
}